.signupcontainer{
   padding-top: 7%;
   padding-bottom: 7%;
    background-color: rgb(183, 241, 229);
}
.formcontainer{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: rgba(43, 33, 33, 0.459);
    border: 5px double rgb(228, 186, 186);
    border-radius: 2%;
}

.socialregistercontainer{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
}
.formrow{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
}
.formheading{
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.registerbutton{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 5%;
}
