.postdetailcontainer{
    width: 100%;
    background-color: rgb(102, 170, 153);
    padding-top: 5%;
    padding-bottom: 10%;
}

.postdetailcard{
    background-color:white;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 5%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.5%;
    padding-bottom: 2%;
    border-radius: 25px;
   

}

.posttitlesection{
    display: flex;
    flex-direction: row;
}

.postdetailtitle{
    width: 90%;
    font-size: xx-large;
    font-weight: 600;
    color: rgb(12, 37, 37);
}

.postdeletebutton{
    width: 2%;
    margin-left: 5%;
    align-items: center;
}

.postdetailothercontent{
    font-weight: 600;
    color: rgb(153, 34, 34);
    font-size: small;
}

.postdetailcontent{
    color: rgb(3, 3, 3);
    font-size: large;
    width: 90%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
    margin-right: 5%;
}

.postdetailsbuttons{
    margin-top: 2%;
    margin-bottom: 2%;
    padding-left: 2%;
}






