.postsummary{
    width: 70%;
}

.postcard{
    background-color:white;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
}

.posttitle{
    font-size: x-large;
    font-weight: 600;
}

.postsubdetails{
    font-weight: 600;
    color: rgb(17, 1, 1);
    font-size: small;
}