.containerdiv{
    background-color: rgb(102, 170, 153);
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 6%;
}
.profilecontainer{
    width: 96%;
    display: flex;
    flex-direction: row;
}

.leftsideprofile{
    width: 30%;
    /* padding-left: 5%;
    padding-right: 5%; */
    /* padding-top: 2%; */
    /* padding-bottom: 2%; */
    border-right: 1px solid rgb(88, 68, 68) ;
     display: flex;
     flex-direction: column;
}

.rightsideposts{
    width: 70%;
    /* padding-left: 2%;
    padding-right: 2%; */
    /* padding-top: 2%; */
    padding-bottom: 2%;
}
.profileheading{
    text-align: center;
}

.profilepicture{
    align-items: center;
    width: 90%;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-right: 10%;
    margin-left: 10%;
}

.profilename{
    width: 90%;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-right: 5%;
    margin-left: 5%;
}

.profilegender{
    width: 90%;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-right: 5%;
    margin-left: 5%;
}
.profileemail{
    width: 90%;
    margin-top: 2%;
    margin-bottom: 1%;
    /* margin-right: 5%; */
    margin-left: 5%;
}
.profilemobile{
    width: 90%;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-right: 5%;
    margin-left: 5%;
}

