.userpostsummary{
    width: 100%;
}

.userpostcard{
    background-color:white;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.5%;
}

.userposttitle{
    font-size: x-large;
    font-weight: 600;
}

.userpostsubdetails{
    font-weight: 600;
    color: rgb(17, 1, 1);
    font-size: small;
}